<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
<div class="container my-5">

    <form th:action="@{/register}" th:object="${*name*}" method="post">
        <div class="row">
            <div class="form-group col-md-8">
                <label for="name" class="col-form-label">Name</label>
                <input type="text" th:field="*{name}" class="form-control" id="name"
                       placeholder="Name"
                       required>
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                      class="text-danger"></span>
            </div>

            <div class="form-group col-md-8">
                <label for="email" class="col-form-label">Email</label>
                <input type="text" th:field="*{email}" class="form-control" id="email"
                       placeholder="Email"
                       required>
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                      class="text-danger"></span>
            </div>

            <div class="form-group col-md-8">
                <label for="password" class="col-form-label">Password</label>
                <input type="password" th:field="*{password}" class="form-control" id="password"
                       placeholder="password">
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                      class="text-danger"></span>
            </div>

            <div class="col-md-6">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>

            <div class="form-group col-md-8"></div>
        </div>
    </form>
    <p>Already have an account? <a th:href="@{/login}">Login here</a></p>
</div>

</body>
</html>