<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<form action="#" th:action="@{/shipments/save}" th:object="${shipment}" method="POST">

<!--    // Later remove-->
    <div class="form-group">
        <label for="trackingNumber">TrackingNumber</label>
        <input type="number" th:field="*{trackingNumber}" id="trackingNumber" name="trackingNumber" class="form-control mb-4 col-4">
        <span th:if="${#fields.hasErrors('receiverName')}" th:errors="*{receiverName}" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="receiverName">ReceiverName</label>
        <input type="text" th:field="*{receiverName}" id="receiverName" name="receiverName" placeholder="Enter receiver name" class="form-control mb-4 col-4">
        <span th:if="${#fields.hasErrors('receiverName')}" th:errors="*{receiverName}" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="estimatedDelivery">EstimatedDelivery</label>
        <input type="datetime-local"
               th:field="*{estimatedDelivery}"
               id="estimatedDelivery"
               min="${#temporals.format(#temporals.createNow(), 'yyyy-MM-dd\'T\'HH:mm')}"
               name="estimatedDelivery"
               class="form-control mb-4 col-4">
        <span th:if="${#fields.hasErrors('estimatedDelivery')}" th:errors="*{estimatedDelivery}" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="receiverAddress">ReceiverAddress</label>
        <input type="text" th:field="*{receiverAddress}" id="receiverAddress" name="receiverName" placeholder="Enter receiver address" class="form-control mb-4 col-4">
        <span th:if="${#fields.hasErrors('receiverAddress')}" th:errors="*{receiverAddress}" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="receiverPhone">ReceiverPhone</label>
        <input type="text" th:field="*{receiverPhone}" id="receiverPhone" name="receiverPhone" placeholder="Enter receiver phone" class="form-control mb-4 col-4">
        <span th:if="${#fields.hasErrors('receiverPhone')}" th:errors="*{receiverPhone}" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" th:field="*{description}" id="description" name="description" placeholder="Enter description" class="form-control mb-4 col-4">
        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="deliveryType">DeliveryType</label>
        <select th:field="*{deliveryType}" id="deliveryType" class="form-select">
            <option th:value="STANDARD" th:text="Standard" selected></option>
            <option th:value="EXPRESS" th:text="Express"></option>
        </select>
    </div>

    <div class="form-group">
        <label for="paymentMethod">PaymentMethod</label>
        <select th:field="*{paymentMethod}" id="paymentMethod" class="form-select">
            <option th:value="CASH" th:text="Cash" selected></option>
            <option th:value="TERMINAL" th:text="Terminal"></option>
        </select>
    </div>

    <div class="form-group">
        <label for="shipmentType">ShipmentType</label>
        <select th:field="*{shipmentType}" id="shipmentType" class="form-select">
            <option th:value="PARCEL" th:text="Parcel"></option>
            <option th:value="CARGO" th:text="Cargo"></option>
            <option th:value="DOCUMENTS" th:text="Documents" selected></option>
            <option th:value="PALLETS" th:text="Pallets"></option>
        </select>
    </div>


    <div class="form-group">
        <label for="weight">Weight</label>
        <input type="number" step="0.01" th:field="*{weight}" id="weight" name="weight" placeholder="Enter weight" class="form-control mb-4 col-4">
        <span th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="createdAt">CreatedAt</label>
        <input type="date" th:field="*{createdAt}" id="createdAt" name="createdAt" class="form-control mb-4 col-4">
        <span th:if="${#fields.hasErrors('createdAt')}" th:errors="*{createdAt}" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="updatedAt">UpdatedAt</label>
        <input type="date" th:field="*{updatedAt}" id="updatedAt" name="updatedAt" class="form-control mb-4 col-4">
        <span th:if="${#fields.hasErrors('updatedAt')}" th:errors="*{updatedAt}" class="text-danger"></span>
    </div>


    <div class="col-md-6">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>

<div class="form-group">
    <a th:href="@{/}"> Back to Home</a>
</div>

</body>
</html>